body
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 1.4em;

a 
    text-decoration: none;
    transition: color 0.15s linear;

.centered-container 
    width: 75%;

.main__profile-card
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e7ebee;

.main__profile-pic
    width: 8rem;
    border-radius: 8rem;
    display: block;
    margin-right: 2rem;

.main__content 
    line-height: 2.5em;
    
.wrapper
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

.main__social-media-list
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0 0;
    font-size: 1.2rem;

.main__social-media-link
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    list-style-type: none;
    padding: 3px 5px;
    border-radius: 2px;

    a
        color: #555;

    a:hover
        color: #0079ff;

.main__social-media-icon
    margin-right: .1rem;
    font-size: 1.4rem;
    display: inline-block;

