body
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 1.4em;

.centered-container 
    width: 75%;

#content 
    line-height: 2.5em;
    
.wrapper
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

.social-media-list
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0 0;
    font-size: 1.2rem;

.social-media-link
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    list-style-type: none;
    padding: 3px 5px;
    border-radius: 2px;

.social-media-icon
    margin-right: .1rem;
    font-size: 1.4rem;
    display: inline-block;