
$widthToChangeAt: 700px;

html
    height: 100%;
    width: 100%;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555;
    box-sizing: border-box;

@media (max-width: #{$widthToChangeAt})
    html
        font-size: 80%;

*, *:before, *:after
    box-sizing: inherit;

body
    line-height: 1.4em;
    height: 100%;
    width: 100%;
    margin: 0;

a 
    text-decoration: none;

.centered-container 
    width: 35rem;

@media (max-width: #{$widthToChangeAt})
    .centered-container
        width: 75%;

.main__profile-card
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e7ebee;

.profile-card__profile-pic
    border-radius: 8rem;
    display: block;
    margin-right: 2rem;


.profile-card__name
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: black;

.profile-card__subtitle
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;

@media (max-width: #{$widthToChangeAt})
    .main__profile-card
        padding-bottom: 0;
        flex-direction: column;

    .profile-card__details
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;

    .profile-card__profile-pic
        margin-right: 0;

    .profile-card__name
        line-height: 0;

    .profile-card__subtitle
        line-height: 0;


.main__content 
    line-height: 2.5em;
    
.main__wrapper
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

.main__social-media-list
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 0 0;
    font-size: 1.2em;

.main__social-media-link
    list-style-type: none;
    border-radius: 2px;
    flex: 0 0 25%;
    padding-bottom: 1rem;

    a
        color: #555;
        display: flex;
        align-items: center;

    a:hover
        color: #1565c0;
        transition: color 0.15s linear;

@media (max-width: #{$widthToChangeAt})
    .main__social-media-link
        flex: 0 0 50%;

.main__social-media-icon
    margin-left: 0.5ch;
