html {
  height: 100%;
  width: 100%;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555;
  box-sizing: border-box; }

@media (max-width: 700px) {
  html {
    font-size: 80%; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  line-height: 1.4em;
  height: 100%;
  width: 100%;
  margin: 0; }

a {
  text-decoration: none; }

.menu__buttons {
  font-size: 2.5rem;
  z-index: 2;
  position: absolute;
  display: block;
  top: 2rem;
  left: 2rem; }

.menu__buttons.menu__buttons-opened .menu__open-menu {
  display: none !important; }

.menu__buttons.menu__buttons-opened .menu__close-menu {
  display: block !important; }

.menu__button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 2.5rem;
  cursor: pointer; }

.menu__close-menu {
  display: none; }

.main__navbar {
  display: flex;
  font-size: 1.5rem; }

.navbar__list {
  text-decoration: none;
  list-style-type: none;
  padding: 0; }

.navbar__item {
  height: 3rem;
  transition: background-color 0.15s linear; }

.navbar__item:hover {
  background-color: #555; }

.navbar__link {
  color: white;
  display: block;
  line-height: 3rem;
  padding-left: 2rem; }

.centered-container {
  width: 35rem; }

@media (max-width: 700px) {
  .centered-container {
    width: 75%; } }

.main__profile-card {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #e7ebee; }

.profile-card__profile-pic {
  width: 8rem;
  border-radius: 8rem;
  display: block;
  margin-right: 2rem; }

.profile-card__name {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: black; }

.profile-card__subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300; }

@media (max-width: 700px) {
  .main__profile-card {
    padding-bottom: 0;
    flex-direction: column; }
  .profile-card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0; }
  .profile-card__profile-pic {
    width: 7rem;
    margin-right: 0; }
  .profile-card__name {
    line-height: 0; }
  .profile-card__subtitle {
    line-height: 0; } }

.main__content {
  line-height: 2.5em; }

.main__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.main__social-media-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 0 0 0;
  font-size: 1.2em; }

.main__social-media-link {
  list-style-type: none;
  border-radius: 2px;
  flex: 0 0 33%;
  margin-bottom: 1rem; }
  .main__social-media-link a {
    color: #555;
    display: flex;
    align-items: center; }
  .main__social-media-link a:hover {
    color: #1565c0;
    transition: color 0.15s linear; }

@media (max-width: 700px) {
  .main__social-media-link {
    flex: 0 0 50%; } }

.main__social-media-icon {
  margin-right: .1em;
  font-size: 1.4em;
  display: inline-block; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */ }

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block;
  background: #212121; }
